body {
  background-color: #cfbcbc;
  margin: 0;
  display: flex;
  place-items: center;
  min-width: 320px;
  min-height: 100vh;
}

.canvas-container {
  border: 2px solid #661d1d;
  margin: 0 auto;
  background-color: #fff;
}